
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="First Name" name="name" required />
    <label for="floatingInput">Full Name</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.email}}" placeholder="Email Address"
        name="email" required />
    <label for="floatingPassword">Email Address</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.phone_number}}" placeholder="Phone Number"
        name="phone_number" required />
    <label for="floatingPassword">Phone Number</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.status}}" placeholder="status"
        name="status" required />
    <label for="floatingPassword">status</label>
</div>
{{!-- 
<div class="form-group mb-3">
    <label for="form-group" class="me-5" name="status">User Status:</label>

<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" value="Active" name="status" id="flexRadioDefault2" >
  <label class="form-check-label" for="flexRadioDefault2">Active</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" value="Deactive" name="status" id="flexRadioDefault2">
  <label class="form-check-label" for="flexRadioDefault2">Deactive</label>
</div>
</div> --}}
<button class="btn btn-primary mb-3" type="submit">Save</button>